<h1>{{nombre_componente}}</h1>

<strong>Empleado Estrella</strong>
<ul>
	<li>{{empleado.nombre}}</li>
	<li>{{empleado.edad}}</li>
	<li>{{empleado.cargo}}</li>
	<li>{{empleado.contratado}}</li>
</ul>

<hr/>

<strong>Empleado Estrella Con Array</strong>
<ul>
	<li>{{trabajadores[0].nombre}}</li>
	<li>{{trabajadores[0].edad}}</li>
	<li>{{trabajadores[0].cargo}}</li>
	<li>{{trabajadores[0].contratado}}</li>
</ul>

<hr/>

<div *ngIf = "trabajador_externo == true">
	<button (click)="cambiarExterno(false)">Mostrar Empleado</button>
	<ul>
		<li>{{trabajadores[0].nombre}}</li>
		<li>{{trabajadores[0].edad}}</li>
		<li>{{trabajadores[0].cargo}}</li>
		<li *ngIf = "trabajadores[0].contratado == true">Está Contratado</li>
		<li *ngIf = "trabajadores[0].contratado == false">No Está Contratado</li>
	</ul>
</div>

<div *ngIf = "trabajador_externo == false">
	<button (click)="cambiarExterno(true)">Mostrar Trabajador</button>
	<ul>
		<li>{{empleado.nombre}}</li>
		<li>{{empleado.edad}}</li>
		<li>{{empleado.cargo}}</li>
		<li *ngIf = "empleado.contratado == true">Está Contratado</li>
		<li *ngIf = "empleado.contratado == false">No Está Contratado</li>
	</ul>
</div>

<hr/>

<h3>Listado de Empleados</h3>
<ul>
	<li *ngFor="let empleado of trabajadores; let i = index">
		Empleado {{i + 1}}
		<ul>
			<li>{{empleado.nombre}}</li>
			<li>{{empleado.edad}}</li>
			<li>{{empleado.cargo}}</li>
			<li *ngIf = "empleado.contratado == true">Está Contratado</li>
			<li *ngIf = "empleado.contratado == false">No Está Contratado</li>
		</ul>
	</li>
</ul>

<hr/>

<div>
	<h3>Colores Switch</h3>
	<button (click) = "cambiarColor('red')"> Rojo </button>
	<button (click) = "cambiarColor('green')"> Verde </button>
	<button (click) = "cambiarColor('blue')"> Azul </button>
	<ul [ngSwitch]="color">
		<li *ngSwitchCase = "'red'" [ngStyle]="{'background':color, 'color':'white', 'padding': '20px'}">Es de color Rojo</li>
		<li *ngSwitchCase = "'green'" [ngStyle]="{'background':color, 'color':'white', 'padding': '20px'}">Es de color Green</li>
		<li *ngSwitchCase = "'blue'" [ngStyle]="{'background':color, 'color':'white', 'padding': '20px'}">Es de color Blue</li>
	</ul>
</div>
